.DS_Store

data/*
code/downloader/test/*
code/downloader/logs/*

**/login.auth
**/*.auth

*.pyc
*.key
noacri.db
**/.ipynb_checkpoints/*
**/_examples/*
**/_misc.ipynb
**/*.auth
.vscode/*
**/_temp_/*
**/geckodriver.log
node_modules/*
