build/*
dist/*

src/*.egg-info

data
data/*
**/node_modules/*

.DS_Store
**/.ipynb_checkpoints/*
**/_examples/*
**/_misc.ipynb
**/fjc_scott.ipynb
**/_temp_/*
**/living_reports/**/.gitignore
noacri.db
.vscode/*
**/geckodriver.log
code/downloader/test/*
code/downloader/logs/*
**/conductor/logs/*
**/nohup*.out

**/*.auth
*.pyc
*.key
*.env
**/login.auth
**/*.auth
