# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.0/en_core_web_lg-2.2.0.tar.gz#egg=en_core_web_lg
appnope=0.1.0=py38_1001
argon2-cffi=20.1.0=pypi_0
attrs=19.3.0=py_0
backcall=0.2.0=py_0
beautifulsoup4=4.9.1=py38_0
blas=1.0=mkl
bleach=3.1.5=pypi_0
brotlipy=0.7.0=py38haf1e3a3_1000
bs4=4.9.1=0
ca-certificates=2020.7.22=0
catalogue=1.0.0=py38_1
certifi=2020.6.20=py38_0
cffi=1.14.1=py38hed5b41f_0
chardet=3.0.4=py38_1003
click=7.1.2=py_0
cryptography=2.9.2=py38ha12b0ac_0
cycler=0.10.0=py38_0
cymem=2.0.3=py38hb1e8313_0
cython-blis=0.4.1=py38haf1e3a3_1
decorator=4.4.2=py_0
defusedxml=0.6.0=pypi_0
en-core-web-lg=2.3.1=pypi_0
en-core-web-sm=2.3.1=pypi_0
entrypoints=0.3=pypi_0
freetype=2.10.2=ha233b18_0
idna=2.10=py_0
importlib-metadata=1.7.0=py38_0
importlib_metadata=1.7.0=0
intel-openmp=2019.4=233
ipykernel=5.3.4=pypi_0
ipython=7.17.0=py38h39e3cac_0
ipython_genutils=0.2.0=py38_0
jedi=0.17.2=py38_0
jinja2=2.11.2=pypi_0
jpeg=9b=he5867d9_2
jsonschema=3.0.2=py38_0
jupyter-client=6.1.7=pypi_0
jupyter-contrib-core=0.3.3=pypi_0
jupyter-contrib-nbextensions=0.5.1=pypi_0
jupyter-core=4.6.3=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-latex-envs=1.4.6=pypi_0
jupyter-nbextensions-configurator=0.4.1=pypi_0
kiwisolver=1.2.0=py38h04f5b5a_0
lcms2=2.11=h92f6f08_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libgfortran=3.0.1=h93005f0_2
libpng=1.6.37=ha441bb4_0
libtiff=4.1.0=hcb84e12_1
lxml=4.5.2=pypi_0
lz4-c=1.9.2=hb1e8313_1
markupsafe=1.1.1=pypi_0
matplotlib=3.3.1=0
matplotlib-base=3.3.1=py38h181983e_0
mistune=0.8.4=pypi_0
mkl=2019.4=233
mkl-service=2.3.0=py38hfbe908c_0
mkl_fft=1.1.0=py38hc64f4ea_0
mkl_random=1.1.1=py38h959d312_0
murmurhash=1.0.2=py38h0a44026_0
nbconvert=5.6.1=pypi_0
nbformat=5.0.7=pypi_0
ncurses=6.2=h0a44026_1
notebook=6.1.3=pypi_0
numpy=1.19.1=py38h3b9f5b6_0
numpy-base=1.19.1=py38hcfb5961_0
olefile=0.46=py_0
openssl=1.1.1g=h1de35cc_0
packaging=20.4=pypi_0
pandas=1.1.0=py38hb1e8313_0
pandocfilters=1.4.2=pypi_0
parso=0.7.0=py_0
patsy=0.5.1=py38_0
pexpect=4.8.0=py38_1
pickleshare=0.7.5=py38_1001
pillow=7.2.0=py38ha54b6ba_0
pip=20.2.2=py38_0
plac=0.9.6=py38_1
preshed=3.0.2=py38h0a44026_1
prometheus-client=0.8.0=pypi_0
prompt-toolkit=3.0.5=py_0
ptyprocess=0.6.0=py38_0
pycparser=2.20=py_2
pygments=2.6.1=py_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=py_0
pyrsistent=0.16.0=py38h1de35cc_0
pysocks=1.7.1=py38_1
python=3.8.5=h26836e1_0
python-dateutil=2.8.1=py_0
pytz=2020.1=py_0
pyyaml=5.3.1=pypi_0
pyzmq=19.0.2=pypi_0
readline=8.0=h1de35cc_0
requests=2.24.0=py_0
scipy=1.5.0=py38hbab996c_0
seaborn=0.10.1=py_0
selenium=3.141.0=py38h1de35cc_1001
send2trash=1.5.0=pypi_0
setuptools=49.6.0=py38_0
simplejson=3.17.0=py38h1de35cc_0
six=1.15.0=py_0
soupsieve=2.0.1=py_0
spacy=2.3.1=py38h879752b_0
sqlite=3.33.0=hffcf06c_0
srsly=1.0.2=py38h6de7cb9_0
statsmodels=0.11.1=py38haf1e3a3_0
terminado=0.8.3=pypi_0
testpath=0.4.4=pypi_0
thinc=7.4.1=py38h879752b_0
tk=8.6.10=hb0a8c7a_0
tornado=6.0.4=py38h1de35cc_1
tqdm=4.48.2=py_0
traitlets=4.3.3=py38_0
urllib3=1.25.10=py_0
wasabi=0.7.1=py_0
wcwidth=0.2.5=py_0
webencodings=0.5.1=pypi_0
wheel=0.34.2=py38_0
xlrd=1.2.0=py_0
xz=5.2.5=h1de35cc_0
zipp=3.1.0=py_0
zlib=1.2.11=h1de35cc_3
zstd=1.4.5=h41d2c2f_0
